<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Promise-Objekt mit Pipe auflösen
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>
        <h1>Promise ohne Pipe</h1>
        <h2>{{ temperaturPromise }} Grad</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Promise durch Pipe <i>async</i></h1>
        <h2>{{ temperaturPromise | async }} Grad</h2>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
