<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eigene Pipe mit Argumenten</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>
        <h1>Zahl ohne Pipe</h1>
        <h2>{{ ergebnis }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Zahl mit Pipe <i>prozentwert</i></h1>
        <h2>{{ ergebnis | prozentwert }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Zahl mit Pipe <i>prozentwert:21</i></h1>
        <h2>{{ ergebnis | prozentwert:21 }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Zahl mit Pipe <i>prozentwert:255</i></h1>
        <h2>{{ ergebnis | prozentwert:255 }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Zahl mit Pipe <i>prozentwert:255:2</i></h1>
        <h2>{{ ergebnis | prozentwert:255:2 }}</h2>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
