<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Standard-Pipes: Groß-/Kleinschreibung
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item>
      <ion-label>
        <h1>Vor- und Nachname ohne Pipe</h1>
        <h2>{{ vorUndNachname }}</h2>
      </ion-label>
    </ion-item>

    &nbsp;

    <ion-item>
      <ion-label>
        <h1>Vor- und Nachname durch Pipe <i>uppercase</i></h1>
        <h2>{{ vorUndNachname | uppercase }}</h2>
      </ion-label>
    </ion-item>

    &nbsp;

    <ion-item>
      <ion-label>
        <h1>Vor- und Nachname durch Pipe <i>lowercase</i></h1>
        <h2>{{ vorUndNachname | lowercase }}</h2>
      </ion-label>
    </ion-item>

    &nbsp;

    <ion-item>
      <ion-label>
        <h1>Vor- und Nachname durch Pipe <i>titlecase</i></h1>
        <h2>{{ vorUndNachname | titlecase }}</h2>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
