<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eigene Pipe
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>
        <h1>Satz ohne Pipe</h1>
        <h2>{{ einSatz }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Satz durch Pipe <i>stringMitLaenge</i></h1>
        <h2>{{ einSatz | stringMitLaenge }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Satz durch Pipe <i>stringMitLaenge</i> und dann noch durch <i>uppercase</i></h1>
        <h2>{{ einSatz | stringMitLaenge | uppercase }}</h2>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
